# Week 1 handin

## Assignment
1. Create 5 list comprehensions to solve the following 5 problems:
  1. Iterate a list of names to return a list of the names starting with H
  2. In one line create a list of the numbers 1-100 to the power of 3
  3. Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name
  4. Iterate over each character in a string and get only those that are nummeric
  5. Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice (hint use 2 for loops in a single list comprehension)

2. Create 2 dictionary comprehensions to solve the following:
  1. Iterate a list of names and create a dictionary where key is the name and value is the length of the name
  2. Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}

3. Extra assignment (This one goes beyond what is covered in the course notebooks. So only do it if you want an extra challenge).
  - Progammatically using loops create a small program to produce a dictionary with all the 2 dice throw combinations as keys and their likelyhood in percent as values

## Status
Here is a status on the handin. How far you got. What is implemented and what is not

## Solution part 1

In [30]:
# Sub assignment A
names = list(["Hanne", "Nicklas", "Hans", "Mathias", "Nikolaj", "Henrik"])
names_with_h = list([name for name in names if(name[0] == "H" or name[0] == "h")])
names_with_h

['Hanne', 'Hans', 'Henrik']

In [31]:
# Sub assignment B
list([number ** 3 for number in range(1, 101)])

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [32]:
# Sub assignment C
names_with_tuples = list([(len(name), name) for name in names]) # list of names is created in sub assignment A
names_with_tuples

[(5, 'Hanne'),
 (7, 'Nicklas'),
 (4, 'Hans'),
 (7, 'Mathias'),
 (7, 'Nikolaj'),
 (6, 'Henrik')]

In [33]:
# Sub assignment D
my_string = "123Nicklas456"

my_number_string = list([number for number in my_string if number.isdigit()])
my_number_string

['1', '2', '3', '4', '5', '6']

In [20]:
# Sub assignment E
dice = set([1, 2, 3, 4, 5, 6])

combinations = set([str(dice1) + ", " + str(dice2) for dice1 in dice for dice2 in dice])

combinations

{'1, 1',
 '1, 2',
 '1, 3',
 '1, 4',
 '1, 5',
 '1, 6',
 '2, 1',
 '2, 2',
 '2, 3',
 '2, 4',
 '2, 5',
 '2, 6',
 '3, 1',
 '3, 2',
 '3, 3',
 '3, 4',
 '3, 5',
 '3, 6',
 '4, 1',
 '4, 2',
 '4, 3',
 '4, 4',
 '4, 5',
 '4, 6',
 '5, 1',
 '5, 2',
 '5, 3',
 '5, 4',
 '5, 5',
 '5, 6',
 '6, 1',
 '6, 2',
 '6, 3',
 '6, 4',
 '6, 5',
 '6, 6'}

## Solution part 2

In [26]:
# Sub assignment A
names = list(["Hanne", "Nicklas", "Hans", "Mathias", "Nikolaj", "Henrik"])
name_dir = {name : len(name) for name in names}

name_dir

{'Hanne': 5, 'Nicklas': 7, 'Hans': 4, 'Mathias': 7, 'Nikolaj': 7, 'Henrik': 6}

In [34]:
# Sub assignment B
import math

numbers = list([10, 32, 53, 364, 725, 663, 711, 822, 951])
squareroot_dir = {number : math.sqrt(number) for number in numbers}

squareroot_dir

{10: 3.1622776601683795,
 32: 5.656854249492381,
 53: 7.280109889280518,
 364: 19.078784028338912,
 725: 26.92582403567252,
 663: 25.748786379167466,
 711: 26.664583251946766,
 822: 28.6705423736629,
 951: 30.83828789021855}

## Solution part 3

In [ ]:
# Sub assignment A